<div id="book" *ngIf="book">
  <div class="book">
    <img [src]="book.cover" [alt]="book.name" class="responsive-img">
    <p>
      <span class="title">{{book.name}}</span><br>
      <span class="author">{{book.author}}</span>
    </p>
    <p class="description">{{book.description}}</p>
    <button class="waves-effect waves-light btn" *ngIf="book.borrowedBy === ''" (click)="borrow()">Borrow</button>
    <button class="waves-effect waves-light btn disabled" *ngIf="book.borrowedBy === data.logged.name && book.borrowedBy !== ''">Borrowed by You</button>
    <button class="waves-effect waves-light btn disabled" *ngIf="book.borrowedBy !== '' && book.borrowedBy !== data.logged.name">Borrowed</button>    
    <a [routerLink]="['/library']" class="blue-text text-darken-2">Back to The Library</a>
    <div class="right">
      <!-- in mouseover and mouseleave "1" is there to reuse the function from library component (from DataService)-->
      <i
        *ngFor="let star of data.numberOfStars(5); let index = index"
        (mouseover)="data.starsHover(index, 1)"
        (mouseleave)="data.starsLeave(index, 1)"
        [class.rate]="index < data.rating(book)"
        (click)="data.starRate(index, book)"
        class="material-icons">star
      </i>
    </div>
  </div>
  <ul>
    <ng-container *ngFor="let comment of comments">
      <li class="comment" *ngIf="match_id(comment)">
        {{comment.text}} - <span class="author">{{comment.author}}</span>
        <button *ngIf="data.logged.name === comment.author" (click)="deleteComment(comment)" class="waves-effect waves-light btn">delete</button>
      </li>
    </ng-container>
  </ul>
  <form *ngIf="data.logged.name !== ''">
    <input type="text" name="comment" [(ngModel)]="comment">
    <button class="waves-effect waves-light btn" (click)="addComment()">Add comment</button>
  </form>
</div>