<form method="POST" #form="ngForm" *ngIf="data.logged.name === ''">
  <fieldset>
    <legend>Please sign up</legend>

    <div [class.invalid]="name.errors && name.touched">
      <div class="row">
        <i class="material-icons col s2">account_box</i>
        <input class="col s8" type="text" name="name" #name="ngModel" placeholder="name" required ngModel>
      </div>
        <p *ngIf="name.invalid && (name.dirty || name.touched)">What is your name?</p>
    </div>

    <div [class.invalid]="email.errors && email.touched">
      <div class="row">
        <i class="material-icons col s2">account_box</i>
        <input class="col s8" type="email" name="email" #email="ngModel" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel>
      </div>
        <p *ngIf="email.invalid && (email.dirty || email.touched)">What is your email? (or fake one (but valid))</p>
    </div>

    <div [class.invalid]="password.errors && password.touched">
      <div class="row">
        <i class="material-icons col s2">lock_outline</i>
        <input class="col s8" type="password" name="password" #password="ngModel" placeholder="password" required minlength="6" ngModel>
      </div>
        <p *ngIf="password.errors && (password.dirty || password.touched)">Please provide a password (minimum 6 characters)</p>
    </div>

    <div class="row">
      <i class="material-icons col s4">assignment_turned_in</i>
      <button class="waves-effect waves-light blue lighten-1 btn-large" type="submit" (click)="onSubmit(name.value, email.value, password.value)" [disabled]="form.invalid">sign up</button>
    </div>
  </fieldset>
</form>