<div id="user">
  <ul class="row">
    <h3 class="center">Here you can see all your borrowed books.</h3>
    <ng-container *ngFor="let book of books">
      <li class="col s6 m4 l3">
        <a [routerLink]="['/library', book.id]">
          <img [src]="book.cover" [alt]="book.name" class="responsive-img">
        </a> 
        <button class="waves-effect waves-light btn" (click)="returnBook(book)">return</button>
        <a [routerLink]="['/library', book.id]">          
          <p>
            <span class="title">{{book.name}}</span><br>
            <span class="author">{{book.author}}</span>
          </p>
        </a>              
      </li>
    </ng-container>    
  </ul>
</div>